/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(99, 102, 241);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 102, 241);
}
